:root {
}

html {
  scroll-behavior: smooth;
}

[data-aos="fade-up"] {
  transform: translate3d(0, 30px, 0);
}

[id]::before {
  content: "";
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}

/* Section */
.section-title {
  position: relative;
}

.section-title:before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

.section-title:after {
  content: url("./images/arrows-title-section.svg");
  width: 12px;
  height: 15px;
  position: absolute;
  top: -8px;
  margin-left: 10px;
}

.section-subtitle:before {
  display: inline-block;
  content: "";
  width: 70px;
  height: 2px;
  background: #555555;
  vertical-align: middle;
  margin-right: 20px;
}

.button--text .relative {
  background-size: 0 100%;
  background-repeat: no-repeat;
  padding-bottom: 0.25rem;
  transition: background-size 0.6s ease;
  background-image: linear-gradient(
    transparent calc(100% - 1px),
    currentColor 1px
  );
}

.button--text:hover .relative {
  background-size: 100% 100%;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.talent-item img {
  opacity: 0;
  bottom: -20px;
  transition: all 800ms cubic-bezier(0.64, -0.71, 0.41, 1.52);
}
.talent-item.is-active img {
  opacity: 1;
  bottom: 0;
}
